/* ==========================================================================
   SITE STYLES
   ========================================================================== */

/* Preserve some sanity */
html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
	// height: 100%;
    font-family: $body-font;
    font-weight: 400;
    font-size-adjust: 0.5;
    font-size: 100%;
    color: $text-color;
    background-color: $background-color;
}
ul, ol {
    margin: 0;
    padding: 0;
}
// Images
img {
    max-width: 100%;
    vertical-align: middle;
}
// Links
a {
    color: $link-color;
    text-decoration: none;
    @include transition(color);
    &:visited {
        color: $link-color;
    }
    &:hover {
        color: darken($link-color,15%);
    }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}