/* ==========================================================================
   BUTTONS
   ========================================================================== */

.button {
	@include transition(all);
	background: $blue;
	border-radius: $border-radius;
	color: $lightgray;
	cursor: pointer;
	display: inline-block;
	padding: $spacing-unit $lg-spacing-unit;
	text-align: center;
	text-transform: uppercase;

	&:visited {
		background: $blue;
		color: $lightgray;
	}

	&:hover {
		background: $darkblue;
		color: $white;
		box-shadow: 2px 2px 2px rgba($black,.2);
	}

	&:active {
		transform: translateY(2px);
		box-shadow: 1px 1px 1px rgba($black,.5);
	}

}

.secondary.button {
	background: none;
	color: $gray;
	border-color: $gray;

	&:visited {
		background: none;
		color: $gray;
	}

	&:hover {
		background: none;
		color: $blue;
	}

	&:active {
		color: $darkblue;
	}

}

.two-buttons {
	.button {
		width: 50%;
		display: inline-block;
		float: left;
		padding: $border-radius*2 $border-width;
	}
}

.arrow-button:after {
	transition: all .6s ease;
	opacity:0;
	content: "";
	display: inline-block;
	margin: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.arrow-button:hover:after {
	margin-left: 5px;
	opacity:1;
	content: "\e600";
	font-family: 'icomoon';
}

