/* ==========================================================================
   Site styles
   ========================================================================== */

/* ==========================================================================
   Media Queries

   - Medium and large
   - Medium
   - Large
   ========================================================================== */
.box {
   border-radius: $border-radius;
   border: $border-width solid $primary-color;
   padding: $spacing-unit;
   padding-bottom: $lg-spacing-unit;
}
.no-border {
   border: 0;
}

header {
  background: $blue;
  color: $white;
}

section.intro {
  background: rgba($blue,.10);
  border-bottom: $border-width solid $lightgray;
}

section {
  h1 {
    font-weight: 700;
  }
}

footer {
   background-color: $lightgray;
   box-shadow: 2px 2px 2px $gray;
}
/* Medium and Up - Targets everything larger than mobile
   ========================================================================== */

@include break(medium-and-large) {

}

/* Medium - only targets 1st breakpoint. Styles 
   ========================================================================== */

@include break(medium) {

}

/* Large - only targets 2nd breakpoint. 
   ========================================================================== */

@include break(large) {

}
