/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Fonts
$body-font: 'Lato', Helvetica, Arial, sans-serif;
$header-font: 'Lato', Helvetica, Arial, sans-serif;

//Colors
$white: #F5F5F2;
$lightgray: #EEEEE6;
$gray: #A2A1AC;
$black: #222222;
$blue: #5A83C6;
$darkblue: #0E377A;
$red: #CA030E;
$darkred: darken($red,15%);
$brown: #5E5137;

// Color Aliases
$background-color: $white;
$primary-color:      $red;
$link-color:	    $blue;
$text-color:       $black;


// Spacing
$spacing-unit:    20px;
$lg-spacing-unit: $spacing-unit * 2; //60px

$border-radius: 6px;
$border-width: 2px;


//Mixins
@mixin transition($property) {
	//Sets transitions
  transition:$property 0.4s ease-in-out;
  -webkit-transition:$property 0.4s ease-in-out;
}